/scholar/build/
/scholar/JavaApplication88/nbproject/private/
/scholar/JavaApplication89/nbproject/private/
/scholar/JavaApplication89/build/
/scholar/JavaApplication90/nbproject/private/
/scholar/JavaApplication90/build/
/scholar/JavaApplication91/nbproject/private/
/scholar/JavaApplication91/build/
/scholar/JavaApplication92/nbproject/private/
/scholar/JavaApplication92/build/